@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


body {

    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
    background: var(--Schemes-Surface, #FEF7FF);
}

html {
    padding: 0;
    margin: 0;
    background: var(--Schemes-Surface, #FEF7FF);
}


section {
    height: 100%;
    /*flex-grow: 0;*/
    border-radius: var(--Corner-Medium, 12px);
    background: var(--Schemes-Surface-Container, #F3EDF7);
}