.modal {
    position: absolute;
    max-width: 1000px;

    transition: all .3s ease-in-out;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-state-layer {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.34);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.close-button {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 200px;
    overflow: hidden;
    cursor: pointer;

    transition: background-color .3s ease-in-out;
}

.close-button:hover {
    background-color: var(--State-Layers-On-Surface-Opacity-08, rgba(29, 27, 32, 0.13));

}

.close-button img {

}

.entering,
.entered {
    opacity: 1;
}

.entering,
.entered {
    transform: translateY(0);
}


.exiting,
.exited {
    opacity: 0;
}

.exiting,
.exited {
    transform: translateY(-50px);
}